* {
  box-sizing: border-box;
}

body {
    width: 100vh;
    background-color: #E5E4E2;
    padding: 50px;

}


h2{
   color: darkgray;
   text-align: center;
   font-size: 50px;
 }

 input[type=text]{
    width : 100%;
    padding: 8px 8px;
    margin: 10px 10px 10px 10px;
    border: 1px solid #ccc ;
    border-radius: 4px;
    box-sizing: border-box;
 }

 input[type=text]:focus {
    width: 100%;

 }


 input[type=submit]{
     width: 100%;
     background-color: #50C878;
     padding: 10px 10px;
     color: white;
     border: none;
     border-radius: 6px;
 }